<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Upde.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AB886D9B32CAC49C332D0D8D73C3AB17BCD2E899</string>
				<key>dateExpires</key>
				<string>11/2/20</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>A4CD6X8465.com.upit.asia</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>A4CD6X8465</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Upde.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>24b2c2f1-9868-411a-8635-d52dad0bd2d5</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.upit.asia</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>A4CD6X8465</string>
				<key>name</key>
				<string>Nguyen Huy Hoang</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
